@*<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">NCKH</a>
    <button class="navbar-toggler" onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>*@

<div class="NavMenuCssClass">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="faculty">
                <span class="oi oi-list-rich" aria-hidden="true"></span> My web
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TodosComponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Test Todos
            </NavLink>
        </li>
    </ul>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</div>
